---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About the project">
  <h1 class="text-green-500">The SpaceX launches project is a demo for the Astro course.</h1>
  <br />
  <br />
  <a class="hover:text-blue-500 hover:underline" href="http://youtu.be/RB5tR_nqUEw">Aprende Astro: Curso de Astro 3 Desde Cero 2023 🚀</a>

</Layout>
